@define-mixin limit-lines $n: 2 {
	overflow: hidden;
	white-space: normal;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: $n; /* number of lines to show */
	-webkit-box-orient: vertical;
}
